


.main
{
    display: flex;
    flex-direction: row;
    height: 100%;

    // div{
    //     color: #c0c0c0;
    // }
    // p
    // {
    //     color: #c0c0c0;
    // }

    .menus-layout
    {
        width: 50px;
        height: 100%;
        background-color: #333333;
    }
    
    
    .resources-layout
    {
        height: 100%;
        width: 400px;
        background-color: #252525;
    }

    .content-layout
    {
        height: 100%;
        width: 0;
        flex: 1;
        //background-color: #1E1E1E;
        background-color: #f1f1f1;
    }
}

