

.usertype-editor
{
    .rows-layout
    {
        .row
        {
            padding: 4px 0px;
            margin: 0px 4px;
            border-bottom: 1px solid black;
            display: flex;
            flex-direction: row;

            font-size: 12px;
            input
            {
                font-size: 12px;
            }

            >.key
            {
                width: 100px;
                text-align: center;
            }

            >.name
            {
                input
                {
                    width: 120px;
                }
                text-align: center;
            }

            >.comment
            {
                textarea
                {
                    width: 400px;
                    padding: 4px;
                    //font-size: 12px;
                    line-height: 1.2;
                    resize: none;
                }

            }

            >.usertype
            {
                select
                {
                    padding: 4px;
                    width: 160px;
                }
            }

            >.exts
            {
                width: 0;
                flex: 1;
                padding: 0px 4px;

                >.array-element
                {
                    p
                    {
                        display: inline;
                    }
                    input
                    {
                        
                        &#element-check
                        {
                            display: inline;
                        }
                        &#element-count
                        {
                            display: inline-block;
                            width: 80px;
                        }
                    }
                }
            }
        }
    }
}